.header {
  margin: red;
  max-height: 100vh;
}

.header-top-bar {
  height: 4vh;
  // ACCOUNT FOR 4vh + 4VH --> MAIN: 94VH
  width: inherit;
  background-color: #153CA0;
}

.header-left {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.candidate-info-wrapper {
  margin: 0;
}

// .header-main-content {
//   display: flex;
// }

.website-logo {
  display: flex;
  justify-content: center;
  img {
    height: 200px;
    margin-left: 0px !important;
  }
}

.header-bottom-bar {
  height: 6vh;
  width: inherit;
  background-color: #153CA0;
}

.header-main {
  height: 91vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#nascar-reference {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  color: #353535;
}

#question-american {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #353535;
  font-weight: 400;
  margin-bottom: 10px;
}

.candidate-info {
  color: #353535;
  border-radius: 30px;
  padding: 3px 20px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: flex-start;
  margin-top: 25px;
  p {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 13px;
    line-height: 1.5;
  }
  i {
    transform: rotate(90deg);
    font-size: 23px;
    margin: 0;
    margin-right: 25px;
  }
}

.header-right {
  // max-width: 450px;
  margin:0;
}

.candidates {
  // height: 100%;
  // background-image: url('notperfect.png');
  // center background
  // background size
}


// ON MOBILE
@media only screen and (max-width: 500px) {
  .header-main {
    grid-template-columns: 1fr;
    // grid-template-areas:
    //   'header'
    //   'drivers';
  }
}












// .header-item
// .header-item.logo { grid-area: header; }

// .header {
//   .drivers { grid-area: drivers; }
//   .logo { grid-area: header; }

//   border: 1px solid red;
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-template-areas:
//     'header drivers';
// }

// .tagline {
//   // padding: 0px 40px;
//   h1 { font-size: 60px; text-align: center; }
// }

// img.logo {
//   max-width: 400px;
//   text-align: center;
//   margin: 0 auto;
//   display: inline-block;
// }

// img.driver {
//   width: 400px;
//   height: 400px;
// }


// /*
//  * MEDIA QUERIES!
//  */

// // Extra small devices (phones, 600px and down)
// // @media only screen and (min-width: 600px) {...}

// // Small devices (portrait tablets and large phones, 600px and up)
// // @media only screen and (min-width: 600px) {...}

// // Medium devices (landscape tablets, 768px and up)
// // @media only screen and (min-width: 768px) {...}

// // Large devices (laptops/desktops, 992px and up)
// // @media only screen and (min-width: 992px) {...}

// // Extra large devices (large laptops and desktops, 1200px and up)
// // @media only screen and (min-width: 1200px) {...}
