.productinfo-wrapper {
  background-color: #F6F6F4;
}

.productinfo-content {
  padding: 35px 25px;
}

.productinfo-title {
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #353535;
  }
}
