.productdetails-wrapper {
  padding: 35px 25px;
}

#red {
  color: #E90933;
}

#blue {
  color: #153CA0;
}

.productdetails-title {
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #353535;
  }
}

.product-feature {
  min-width: 300px;
  text-align: left;
  .feature-header {
    display: flex;
    justify-content: flex-start;
    color: #353535;
    i {
      margin: 0;
    }
    p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      margin: 0;
    }
  }
  .feature-description {
    font-family: 'Montserrat', sans-serif;
  }
}

.productdetails-grid {
  margin-top: 35px;
  max-width: 700px;
  display: grid;
  grid-gap: 40px 0px;
  grid-template-areas:
    'size    candidate'
    'product price';
}

.feature-candidate { grid-area: candidate }
.feature-size { grid-are: size }
.feature-product { grid-are: product }
.feature-price { grid-are: price }











