<div class="footer-wrapper">
  <!-- background as top bar -->
  <div class="footer-left">
    <%= mail_to "support@presidentialraise.com", id:"white" do %>
      <div class="btn-support">
        <p>Support</p>
      </div>
    <% end %>
    <%= link_to terms_path, id:"white" do  %>
      <div class="btn-toc">
        <p>Terms and Conditions</p>
      </div>
    <% end %>
  </div>
  <div class="footer-right">
    <p>Sign up for updates!</p>
    <input type="email" name="email" placeholder="E-Mail" aria-label="E-Mail" class="input">
  </div>
</div>
