<div class="footer-wrapper">
  <!-- background as top bar -->
  <div class="footer-left">
    <div class="btn-support">
      <!-- email -->
    </div>
    <div class="btn-toc">
      <!-- terms and conditions -->
    </div>
  </div>
  <div class="footer-right">
    <!-- p: BE NOTIFIED -->
    <!-- e-mail input -->
  </div>
</div>
