<!-- <div class="faq-item" onclick="toggleCollapse(this)">
  <div class="faq-question"> -->
    <!-- <span> -->
      <!-- <img class="i-plus-minus" src="//cdn.shopify.com/s/files/1/0018/5991/1738/t/3/assets/plus.png?v=11448627534734693132" alt=""> -->
      <!-- <img class="i-minus" src="//cdn.shopify.com/s/files/1/0018/5991/1738/t/3/assets/minus.png?v=8594153039572062698" alt=""> -->
    <!-- </span> <%#= question %> -->
  <!-- </div> -->
<!--   <div class="faq-ans">
    <p><%#= answer %></p>
  </div>
</div> -->
