<div class="header">
  <div class="header-top-bar">
    <!-- 20px blue bar; 100 width -->
  </div>
  <div class="header-main">
    <div class="header-left">
      <!-- img LOGO -->
      <div class="website-logo">
        <img src="https://daz.org/wp-content/uploads/2019/12/2020_U.S-Election-Special_Beitragsbild.png" alt="Presidential Raise 2020">
      </div>
      <h1 id="nascar-reference">"What if politics was more honest like Nascar?"</h1>

      <div class="candidate-info-wrapper">
        <div class="candidate-info">
          <!-- icon -->
          <!-- text -->
          <p>candidate info goes here</p>
        </div>
      </div>

    </div>
    <div class="header-right">
      <div class="candidates"> <!-- background image goes in this div -->
        <!-- slick slider -->
        <!-- <div class="candidates-slider">
          <div>
            <%#= image_tag "driver1.png", :class => "driver" %>
          </div>
          <div>
            <%#= image_tag "driver2.png", :class => "driver" %>
          </div>
          <div>
            <%#= image_tag "driver3.png", :class => "driver" %>
          </div>
          <div>
            <%#= image_tag "driver1.png", :class => "driver" %>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="header-bottom-bar">
    <!-- 20px blue bar; 100 width -->
  </div>
</div>



<!-- <div class="header">
  <div class="header-item logo">
    <div class="flex align-center justify-center">
      <%#= image_tag "logo-placeholder.png", :class => "logo" %>
    </div>
    <div class="tagline">
      <h1>Find out which presidential candidate is funded by which company</h1>
    </div>
  </div>

  <div class="header-item drivers flex align-center justify-center">
    <%#= render partial: "components/carrousel-drivers" %>
  </div>
</div> -->


