<div class="productinfo-wrapper">
  <!-- THIS DIV HAS THE ONLY PURPOSE OF GETTING A BACKGROUND COLOR -->
  <div class="productinfo-content">
    <div class="productinfo-title">
      <h1 id="">
        "What if <span id="pol">politics</span> was more <br>honest and real like <span id="nas">Nascar</span>?"
      </h1>
    </div>
    <div class="productinfo-main">
      <div class="productinfo-item productinfo-left">
        <!-- PRODUCT IMAGES CARROUSEL WILL GO IN HERE -->
      </div>
      <div class="productinfo-item productinfo-right">
        <div class="productinfo-elements">
          <!-- CONTENT THAT IS NOW STILL ON FIRST PAGES GOES HERE -->
        </div>
      </div>
    </div>
  </div>








</div>
