<div class="productdetails-wrapper">
  <div class="productdetails-title">
    <h1>The Jacket</h1>
  </div>
  <div class="productdetails-grid">
    <!-- grid element 2 x 2 will go in here -->
    <div class="product-feature feature-size">
      <div class="feature-header">
        <%= image_tag "size.png", alt: "icon showing measurement of jacket", class: "productdetails-icon" %>
        <p>SIZE</p>
      </div>
      <p class="feature-description">Each jacket is designed to be unisex and is available in two sizes. You can find the exact measurements <a href="#" id="clickhere"> here</a>.</p>
    </div>
    <div class="product-feature feature-candidate">
      <div class="feature-header">
        <%= image_tag "usa.png", alt: "icon showing US flag", class: "productdetails-icon" %>
        <p>CANDIDATE</p>
      </div>
      <p class="feature-description">The jackets are based on the campaign fundraising of Bernie Sanders & Joe Biden (Democrat) as well as Donald Trump & Joe Walsh (Republican).</p>
    </div>
    <div class="product-feature feature-product">
      <div class="feature-header">
        <%= image_tag "spot.png", alt: "icon indicating product specs", class: "productdetails-icon" %>
        <p>SPECS</p>
      </div>
      <p class="feature-description">Well, for now I have no idea what can go in here. But hey, this is better than Lorem Impsum text.</p>
    </div>
    <div class="product-feature feature-price">
      <div class="feature-header">
        <%= image_tag "price.png", alt: "icon showing price tag", class: "productdetails-icon" %>
        <p>PRICE</p>
      </div>
      <p class="feature-description">The price is $99 and a large portion of the profits are donated towards promoting political transparency. Read more here.</p>
    </div>










  </div>
  <div class="productdetails-cta">
    <!-- cta to buy / preorder jacket will go in ehre -->
  </div>
</div>
