<div class="productdetails-wrapper">
  <div class="productdetails-title">
    <h1>This could be a title.</h1>
  </div>
  <div class="productdetails-grid">
    <!-- grid element 2 x 2 will go in here -->
    <div class="product-feature">
      <!-- feature 1 -->
      <div class="feature-header">
        <!-- flexbox -->
        <!-- icon -->
        <!-- text -->
      </div>
      <p class="feature-description"></p>
    </div>

  </div>
  <div class="productdetails-cta">
    <!-- cta to buy / preorder jacket will go in ehre -->
  </div>
</div>
