<div class="productdetails-wrapper">
  <div class="productdetails-title">
    <h1>This could be a title.</h1>
  </div>
  <div class="productdetails-grid">
    <!-- grid element 2 x 2 will go in here -->
    <div class="product-feature feature-size">
      <div class="feature-header">
        <i class="fas fa-flag-usa"></i>
        <p>Size / Wrong Logo</p>
      </div>
      <p class="feature-description">Sample text for now</p>
    </div>
    <div class="product-feature feature-candidate">
      <div class="feature-header">
        <i class="fas fa-flag-usa"></i>
        <p>Candidate / Wrong Logo</p>
      </div>
      <p class="feature-description">Sample text for now</p>
    </div>
    <div class="product-feature feature-product">
      <div class="feature-header">
        <i class="fas fa-flag-usa"></i>
        <p>Product / Wrong Logo</p>
      </div>
      <p class="feature-description">Sample text for now</p>
    </div>
    <div class="product-feature feature-price">
      <div class="feature-header">
        <i class="fas fa-flag-usa"></i>
        <p>Price / Wrong Logo</p>
      </div>
      <p class="feature-description">Sample text for now</p>
    </div>










  </div>
  <div class="productdetails-cta">
    <!-- cta to buy / preorder jacket will go in ehre -->
  </div>
</div>
