<div class="productinfo-wrapper">
  <!-- THIS DIV HAS THE ONLY PURPOSE OF GETTING A BACKGROUND COLOR -->
  <div class="productinfo-content">
    <div class="productinfo-title" data-aos="fade-up" data-aos-duration="1000"data-aos-delay="90">
      <h1 id="">
        What if <span id="pol">Politics</span> was more <br>honest and real <br> like <span id="nas">Nascar</span>?
      </h1>
    </div>
    <div class="productinfo-main">
      <div class="productinfo-item productinfo-left" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="120">
        <!-- PRODUCT IMAGES CARROUSEL WILL GO IN HERE -->
        <!-- placeholders for now -->
        <%= image_tag "placeholder-productpicture.png", alt: "model wearing presidential raise jacket" %>
      </div>
      <div class="productinfo-item productinfo-right" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="120">
        <div class="productinfo-elements">
          <div class="candidate-info-TEST">
            <%= image_tag "icon-money.png", :class => "header-icon" %>
            <p>Each patch represents and outside source <br>who supports that candidate's campaign</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
