<div class="wrapper">
  <%= render partial: "pages/home/header" %>
  <%= render partial: "pages/home/productinfo" %>
  <%= render partial: "pages/home/productdetails" %>
  <%#= render partial: "pages/home/faq" %>
</div>
<%#= render partial: "components/footer" %>

<style>
  .wrapper {
    margin: 0 auto;
    min-height: 100vh;
    overflow-x: hidden;
  }
</style>
