.footer-wrapper {
  background-color: #333333;
  // min-height: 50px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding: 17px 30px;
  // display: flex;
  display: grid;
  grid-template-areas:
    'support toc mail';
  // grid-template-areas:
  //   'support toc'
  //   'mail'
  //   ;
}

// .footer-left {
//   // display: flex;
//   // justify-content: flex-start;
//   margin: 0;
//   align-items: center;
// }

.footer-right {
  grid-item: mail;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  margin-right: 15px;
  p {
    margin-right: 15px;
    align-self: center;
  }
}

.btn-support {
  grid-item: support;
  max-width: 100px;
  margin: 0;
  border: 3px solid white;
  border-radius: 2px;
  padding: 6px 30px;
  font-size: 13px;
  :hover {
    cursor: pointer;
  }
  p {
    text-align: center;
  }
}

.btn-toc {
  grid-item: toc;
  max-width: 160px;
  position: relative;
  right: 30px;
  margin: 0;
  border: 3px solid white;
  border-radius: 2px;
  padding: 6px 30px;
  font-size: 13px;
  :hover {
    cursor: pointer;
  }
  p {
    text-align: center;
  }
}

.input {
  font-family: 'Montserrat', sans-serif;
  height: 28px;
  width: 165px;
  border: none;
  font-size: 13px;
  border-radius: 2px;
  padding-left: 10px;
  align-self: center;
}

.input::placeholder {
  color: black;
}

.input:focus {
  outline: none;
}

// ON MOBILE
@media only screen and (max-width: 600px) {
  .footer-wrapper {
    grid-template-areas:
      'support toc'
      'mail mail'
  }
}
